.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust to your desired height */
  }
  
  .anecdotes {
    min-width: 400px;
    max-width: 500px; /* Adjust to your desired minimum width */
    word-wrap: normal;
  }
  
  .votes {

  }

  .buttonMenu {
    display: flex;
    justify-self: start;
    justify-content: flex-start;
    margin-top: 10px; /* Adjust to your desired spacing */
  }
  
